<div class="container">
  <h3 class="center"> Want to start and adventure? </h3>

  <%= form_for User.new do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Let's Go!" %>
  <% end %>
</div>
